.box{
    color:black;
    width:200px;
    height:200px;
    border: 2px  dashed black;
    display :flex;
    justify-content:center;
    align-items:center;
}
#a{

    color:black;
}
.first{
    color:black;
}

.box1{
    color:black;
    margin:10px;
    padding : 10px 100px;
    border: whitesmoke;
}
.box2{
    color:red;
    margin:10px;
    padding : 10px 100px;
    border: whitesmoke; margin:10px;
    padding : 10px 100px;
    border: whitesmoke;
    
}