h1{
    color:black;
}
label{
    color:rgb(201, 90, 90);
}
a{
    text-decoration: none;
    cursor:grab;
}
#first{
    color:red;
}
.second{
    color:green;
}
.box{
    color:red;
    width:200px;
    height:200px;
    border: 2px  dashed black;
    display :flex;
    justify-content:center;
    align-items:center;
}